<div class='container'>
  <div class='row'>
    <div id='map' class='col-8 border'>
    </div>
    <div id='controls' class='col-4 border'>
      <%= button_to  "Go to State" %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'map' %>
